*{
    box-sizing: border-box;
}
.field{
    width: 800px;
    height: 400px;
    margin:0 auto;
    display: flex;
    background: #E6E6E6;
    background: linear-gradient(to right, #E6E6E6 0%, #A9ADBE 50%, #75838D 100%);
    
}  

.ball{
    background-image: url(../img/220px-Basketball.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    margin:auto;
    animation:jumping-ball 2s ease-in-out infinite alternate;
   

}
@keyframes jumping-ball{
    50%{
        transform: translateY(105px);
        
    }
    100%{
        transform: translateY(-90px);
        box-shadow: 20px 100px 200px black;
       
    }
}


.road{
    width: 800px;
    height: 500px;
    margin:0 auto;
    display: flex;
    background-image:url(../img/431497-scene-avec-trois-maisons-le-long-de-la-route-gratuit-vectoriel.jpg) ;
    background-repeat: repeat;
    
   
}
.car{
   
    width: 151px;
    height: 129px;
    background-image: url(../img/balck.png);
    background-size: cover;
    margin:381px auto;
    animation: drive-Car 9s linear infinite ;
    animation-direction: normal;
 
    
   
}
@keyframes drive-Car{
from{
      transform: translateX(302px);
    }
to{
       transform: translateX(-389px);
    }
}

.earth{
    width: 800px;
    height: 500px;
    background: linear-gradient(229deg, rgba(15,12,75,1) 36%, rgba(66,72,111,0.9476832969515931) 100%);
    display: flex;
    position: relative;
    
}

.sun{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(245, 245, 196);
    align-items: center;
    margin:166px auto;
    animation: moon-shadow 5s linear infinite;
    
}
.moon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:rgb(7, 7, 102);
    align-items: center;
    position: absolute;
    margin:0 auto;
    position: relative;
    animation: moon 5s linear infinite;
    

}
@keyframes moon{
    0%, 100%{
        transform: translate(10px, -10px);
    }
    50%{
        transform:translate(0px, -0px) ;
       
    }
    50%{
        transform: translate(-12px, 12px);
       
    }
}
@keyframes moon-shadow {
     0%{
        box-shadow:0px 10px -5px 8px rgba(131, 117, 136, 0.1);
    }
    50%{
        box-shadow: 0 0px 20px 12px  rgba(212, 212, 171, 0.863);
    }
   
    100%{
        box-shadow:0 -7px 12px 8px rgba(131, 117, 136, 0.1);
    }

}
